.pulse {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.pulse-enabled {
  background: rgba(230, 41, 41, 0.7);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(230, 41, 41, 0.87);
  animation: pulse-enabled 2s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse-enabled {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(230, 41, 41, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(230, 41, 41, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(230, 41, 41, 0);
  }
}
@keyframes pulse-enabled {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(230, 41, 41, 0.8);
    box-shadow: 0 0 0 0 rgba(230, 41, 41, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(230, 41, 41, 0);
      box-shadow: 0 0 0 10px rgba(230, 41, 41, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(230, 41, 41, 0);
      box-shadow: 0 0 0 0 rgba(230, 41, 41, 0);
  }
}
